
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 16px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #2c3e50;
  color: white;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 24px;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: #3498db;
}

/* Hero Section */

.hero {
  background-color: #667eea;
  text-align: center;
  padding: 64px 32px;
  color: white;
}

.hero h1 {
  font-size: 40px;
}

/* Cards */

.products {
  background-color: #ecf0f1;
  padding: 32px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.card {
  border-color: white;
  padding: 24px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 200px;
  box-shadow: 0 2px 5px;
}

.card-image {
  font-size: 64px;
}

.price {
  color: #27ae60;
  font-weight: bold;
}

.card button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 25px
}

.card button:hover {
  background-color: #2980b9;
  cursor: pointer;
}

.footer {
  background-color: #2c3e50;
  color: white;
  display: flex;
  justify-content: space-around;
  gap: 32px;
  height: 100px;
}

.footer-section {
  text-align: center;
  margin-top: 30px;
}

.footer-section h4 {
  color: #3498db;
}